<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
 <event name="checkout_cart_product_add_after">
 <observer name="listen_add_to_cart" instance="Zilker\Helloworld\Observer\MyObserver" />
 </event>
 <event name="checkout_onepage_controller_success_action">
 <observer name="create_account" instance="Zilker\Helloworld\Observer\NewAccount"/>
 </event>
</config>